@use "../foundation/mixin" as *;
@use "../foundation/variables" as *;

.pc.p-detail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &-main {
        position: absolute;
        top: 5vh;
        right: 5vw;
        bottom: 5vh;
        left: 5vw;
        padding: 20px;
        z-index: 1;
        overflow: hidden;
        background-color: $transparent-gray;
        display: flex;
        justify-content: space-around;

        &-preview {
            width: 60%;
            height: 100%;
            cursor: pointer;
            z-index: 1;
            margin: auto;
            &__btn {
                z-index: 6;
                height: 10%;
                width: fit-content;
                text-align: left;
                padding-left: 5%;
                font-size: $font-large;
            }
        }

        &__marker {
            display: none;
        }    
    }
}
