@use "../foundation/mixin" as *;
@use "../foundation/variables" as *;

.u-F5F5F5 {
    background-color: $pale-gray;
}

.u-EA4E32{
    background-color: $red;
}

.u-7ABFC2 {
    background-color: $blue-green;
}

.u-838383 {
    background-color: $gray;
}

.u-f-838383 {
    color: $gray;
}

.u-474747 {
    background: $dark-gray;
}

.u-f-474747 {
    color: $dark-gray;
}

.u-F0EFDD {
    background-color: $off-white;
}
